<%layout("/layouts/boilerPlate.ejs")%>
<link rel="stylesheet" href="/css/noFilter.css" />

  <body>
    <div class="body">
        <div class="no-results">
            <h1>No Results Found!</h1>
            <p>No results found matching your filters.</p>
            <form action="/listings">
                <button class="no-filter-btn">
                    All Listings
                  </button>
            </form>
          </div>
        </body>
